body {
	alignment: center;
}

* {
	box-sizing: border-box;
}
.navbar {
	background-color: #872642;
	font-weight: bold;
}

.height {
	min-height: 100vh;
}


.header-pic {
	background: url("images/devsworkspace.JPG")center/cover no-repeat fixed;
}
.bg-image {
	/* The image used */
	background-image: url("images/devsworkspace.JPG");

	/* Add the blur effect */
	filter: blur(4px);
	-webkit-filter: blur(4px);

	/* Full height */
	height: 100%;
	width: 100%;
	z-index: 0;


	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}
.bg-img {
	background-image: url("images/homeoffice.JPG");
	filter: blur(4px);
	-webkit-filter: blur(4px);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
	background-color: rgba(163, 225, 222, 0.55); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: #7dffe9;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*z-index: 2;*/
	width: auto;
	padding: 20px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bolder;
	color: #ffcd3f;
}

.col-md-7 {
	margin: auto;
}

.form-wrapper {
	background: url("images/contactme.JPG")center/cover no-repeat fixed;
	/*background: url("images/homeoffice.JPG") center no-repeat;*/
	color: #1f2272;
	margin-left: 30px;
}

.form-wrapper h2 {
	margin-left: 30%;
}

#name, #email, #subject, #message {
	display: block;
	margin-left: 30%;
	width: 220px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.g-recaptcha {
	margin-left: 30%;
}
/*style for contact form-wrapper*/
.form-wrapper label {
	margin-left: 30%;
	font-weight: bolder;
}

.buttons {
	margin-left: 30%;
}

button {
	width: 4rem;
	height: 2rem;
	background-color: #21ff37;
	margin: 30%;
	border: none;
}

footer {
	color: white;
	background-color: #872642;
	text-align: center;
}
/*styling for footer icons */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}
/* hover effect */
.fa:hover {
	opacity: 0.7;
	size: auto;
}
/* setting specific color for each brand */

/* Twitter */
.fa-twitter {
	/*background: #55ACEE;*/
	color: #55ACEE;
}
.fa-linkedin {
	/*background: #007bb5;*/
	color: #007bb5;
}

.text-box {
	border:thin #868686 solid;
	background-color: #d6d6d6;
	border-radius: 12px;
	padding-top: 10px;
	text-align: center;
}

.img {
	margin-left: 5px;
	width: 300px;
	height: 300px;
	border-radius: 300px;
	alignment: center;
}
.center {
	align-content: center;
}