

/*body, html {*/
/*	height: 100%;*/
/*}*/

* {
	box-sizing: border-box;
}

.bg-image {
	/* The image used */
	background-image: url("images/cathycodes01.JPG");

	/* Add the blur effect */
	filter: blur(8px);
	-webkit-filter: blur(8px);

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
	background-color: rgba(163, 225, 222, 0.55); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: #4c0cff;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
	color: #4c0cff;
}

.form-wrapper {
	background-color: #93f2ff;
	color: #210c8d;
}

.form-wrapper h2 {
	margin-left: 30px;
}

#name, #email, #subject, #message {
	display: block;
	margin-left: 30px;
	width: 220px;
	margin-bottom: 5px;
	margin-top: 5px;
}
/*style for contact form-wrapper*/
.form-wrapper label {
	margin-left: 30px;
}

button {
	width: 4rem;
	height: 2rem;
	background-color: #21ff37;
	margin-left: 30px;
	border: none;
}

footer {
	color: white;
	background-color: black;
	text-align: center;
}