

/*body, html {*/
/*	height: 100%;*/
/*}*/

* {
	box-sizing: border-box;
}

.bg-image {
	/* The image used */
	background-image: url("images/devsworkspace.JPG");

	/* Add the blur effect */
	filter: blur(4px);
	-webkit-filter: blur(4px);

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-img {
	background-image: url("images/homeoffice.JPG");
	filter: blur(4px);
	-webkit-filter: blur(4px);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
	background-color: rgba(163, 225, 222, 0.55); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: #7dffe9;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}

.contact {
	position: absolute;
}

h1 {
	text-align: center;
	font-weight: bold;
	color: #3cff36;
}

.form-wrapper {
	background-color: #93f2ff;
	/*background: url("images/homeoffice.JPG") center no-repeat;*/
	color: #210c8d;
	text-align: center;
}

.form-wrapper h2 {
	margin-left: 30px;
}

#name, #email, #subject, #message {
	display: block;
	margin-left: 40%;
	width: 220px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.g-recaptcha {
	margin-left: 40%;
}
/*style for contact form-wrapper*/
.form-wrapper label {
	margin-left: 30px;
}

button {
	width: 4rem;
	height: 2rem;
	background-color: #21ff37;
	margin-left: 30px;
	border: none;
}

footer {
	color: white;
	background-color: black;
	text-align: center;
}
/*styling for footer icons */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}
/* hover effect */
.fa:hover {
	opacity: 0.7;
}
/* setting specific color for each brand */
/* Facebook */
.fa-facebook {
	/*background: #3B5998;*/
	color: white;
}
/* Twitter */
.fa-twitter {
	/*background: #55ACEE;*/
	color: white;
}
.fa-linkedin {
	/*background: #007bb5;*/
	color: white;
}

.text-box {
	border:thin #868686 solid;
	background-color: #d6d6d6;
	border-radius: 12px;
	padding-top: 10px;
	text-align: center;
}

.img {
	margin-left: 5px;
	width: 300px;
	height: 300px;
	border-radius: 300px;
	alignment: center;
}
.center {
	align-content: center;
}